/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - #eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

html {
  background-color: gray;
}

body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  margin: .3em 4em 3em 4em;
  border: thin solid #ffd24a;
  padding: 1em;
  line-height: 1.2em;
}

header {
  background-color: #ff8523;
  padding: 2em;
  margin: -1em;
}

header a img {
  background-size: contain;
  width: 33%;
  margin-top: -1em;
  margin-left: -1em;
}

.main_navigation {
  margin-top: 1em;
  margin-left: -1em;

}

.main_navigation a {
  text-decoration: none;
  margin-right: -.1em;
  color: white;
  border: thin white solid;
  font-weight: bold;
  padding: .5em 2em .5em 2em;
  font-size: .70em;
  border-radius: .3em;
}

#page_content {
  margin-top: 3em;
  margin-bottom: 2em;
}

#page_content section {
  margin-bottom: 3em;
}

.top_section {
  border: none;
}

h2 {
  color: #1fabe5;
  font-size: .95em;
}

p {
  font-size: .7em;
}

#page_content section p a {
  text-decoration-color: #1fabe5;
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
  font-size: .81em;
}

ul {
  font-size: .7em;
  font-weight: bold;
  margin-left: -1.5em;
}

section {
  border-top: medium solid #dddddd;
}

table {
  font-size: .7em;
  text-align: left;
  border: thin solid #1fabe5;
  border-collapse: collapse;

}

th, td {
  border: 1px solid #046c97;
  padding: .75em .7em 1em 1em;
}

thead {
  background-color: #1fabe5;
  color: white;

}

td img {
  background-position: center;
  background-size: cover;
  height: 40px;
}

form {
  background-color: #dddddd;
  padding: 1em;
  border-radius: .27em;
  font-size: .7em;
  font-weight: bold;
}

.name {
  background-color: #ff8523;
  color: white;
  padding: 1.5em;
  font-size: .7em;
  font-weight: bold;
  border-radius: .29em;
}

input {
  padding: .8em 8em .8em 0em;
  margin-right: 1em;
  font-size: .7em;
  align-items: center;
  border: none;
}

.city_container {
  margin: 2em 0 2em 0;
  font-size: .7em;
}

select {
  font-size: .7em;
}

textarea {
  margin-top: .75em;
  font-size: .7em;
  font-weight: 500;
  border: thin solid #1fabe5;
  padding: .5em 29em 1em .5em;
}

form label {
  font-size: .7em;
}

.submit_container {
  margin-top: 1em;
  margin-bottom: .75em;
}

#submit_button {
  color: white;
  padding: .9em;
  background-color: #1fabe5;
  text-transform: uppercase;
  border-radius: .29em;
  width: 10%;
}





































/* hello
